DB_HOST=localhost
DB_PORT=5432
DB_NAME=izdaja_racunov
DB_USER=
DB_PASSWORD=
FRONTED_URL=http://localhost:5173

# Generate random keys: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=
JWT_EXPIRES_IN=8h
APP_SECRET=